<div class="container mx-auto p-10">
  <h1 class="text-2xl font-bold mb-5">Crear nuevo producto</h1>
  <form>
    <label class="block mb-2 text-sm font-medium text-gray-900"
      >Nombre del Producto</label
    >
    <input
      type="text"
      class="block w-full p-2 border rounded mb-4"
      placeholder="Ingrese el nombre del producto"
    />

    <label class="block mb-2 text-sm font-medium text-gray-900">Precio</label>
    <input
      type="number"
      class="block w-full p-2 border rounded mb-4"
      placeholder="Ingrese el precio"
    />

    <button type="submit" class="bg-blue-700 text-white px-4 py-2 rounded">
      Guardar
    </button>
  </form>
</div>
